Repository Kushmakov/rental-marketplace-iubv3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projectx/core-team, @projectx/frontend-team, @projectx/security-team, @projectx/compliance-team, @projectx/android-team, @projectx/mobile-security, @projectx/ios-team, @projectx/backend-team, @projectx/devops-team, @projectx/documentation-team, @projectx/qa-team, @projectx/data-team

Add public-samples/rental-marketplace-iubv3k/.github/dependabot.yml
  .github/dependabot.yml
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @projectx/android-team, @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @projectx/backend-team, @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @projectx/ios-team, @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @projectx/frontend-team, @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @projectx/core-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/datadog/monitors/api.json
  infrastructure/monitoring/datadog/monitors/api.json
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/datadog/monitors/infrastructure.json
  infrastructure/monitoring/datadog/monitors/infrastructure.json
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/datadog/monitors/services.json
  infrastructure/monitoring/datadog/monitors/services.json
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/elk/elasticsearch/config/elasticsearch.yml
  infrastructure/monitoring/elk/elasticsearch/config/elasticsearch.yml
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/elk/kibana/config/kibana.yml
  infrastructure/monitoring/elk/kibana/config/kibana.yml
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/elk/logstash/config/logstash.yml
  infrastructure/monitoring/elk/logstash/config/logstash.yml
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/elk/logstash/pipeline/main.conf
  infrastructure/monitoring/elk/logstash/pipeline/main.conf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/grafana/dashboards/infrastructure.json
  infrastructure/monitoring/grafana/dashboards/infrastructure.json
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/grafana/dashboards/services.json
  infrastructure/monitoring/grafana/dashboards/services.json
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/scripts/backup-databases.sh
  infrastructure/scripts/backup-databases.sh
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/scripts/deploy-monitoring.sh
  infrastructure/scripts/deploy-monitoring.sh
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/scripts/init-cluster.sh
  infrastructure/scripts/init-cluster.sh
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/scripts/rotate-secrets.sh
  infrastructure/scripts/rotate-secrets.sh
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

.github/CODEOWNERS:

# These owners have overall architectural oversight
* @projectx/core-team

# Frontend Web Application
/src/web/ @projectx/frontend-team @projectx/security-team
/src/web/components/auth/ @projectx/security-team @projectx/frontend-team
/src/web/components/payment/ @projectx/security-team @projectx/frontend-team @projectx/compliance-team

# Mobile Applications
/src/android/ @projectx/android-team @projectx/mobile-security
/src/ios/ @projectx/ios-team @projectx/mobile-security

# Backend Services
/src/backend/ @projectx/backend-team @projectx/security-team
/src/backend/packages/auth-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/payment-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/user-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team

# Infrastructure and DevOps
/infrastructure/ @projectx/devops-team @projectx/security-team
/.github/workflows/ @projectx/devops-team @projectx/security-team
/docker-compose.yml @projectx/devops-team @projectx/security-team
/Dockerfile @projectx/devops-team @projectx/security-team

# API Gateway and Service Mesh
/src/backend/packages/api-gateway/ @projectx/backend-team @projectx/security-team

# Documentation
/docs/ @projectx/documentation-team @projectx/core-team
/README.md @projectx/documentation-team @projectx/core-team

# Security Configurations
/security/ @projectx/security-team @projectx/compliance-team
**/*.env.example @projectx/security-team @projectx/devops-team
**/*config*.{js,ts,json} @projectx/security-team @projectx/devops-team

# Test Suites
/src/*/tests/ @projectx/qa-team @projectx/security-team
/src/*/cypress/ @projectx/qa-team @projectx/frontend-team
/src/*/jest/ @projectx/qa-team

# Package Dependencies
package.json @projectx/core-team @projectx/security-team
yarn.lock @projectx/core-team @projectx/security-team
**/package-lock.json @projectx/core-team @projectx/security-team
**/Podfile @projectx/ios-team @projectx/security-team
**/Podfile.lock @projectx/ios-team @projectx/security-team
**/build.gradle* @projectx/android-team @projectx/security-team

# Database Migrations and Schemas
/src/backend/*/migrations/ @projectx/backend-team @projectx/data-team @projectx/security-team
/src/backend/*/schemas/ @projectx/backend-team @projectx/data-team @projectx/security-team

# Monitoring and Observability
/src/backend/packages/monitoring/ @projectx/devops-team @projectx/security-team
/src/backend/packages/logging/ @projectx/devops-team @projectx/security-team

# CI/CD Pipeline Configurations
/.github/workflows/android.yml @projectx/android-team @projectx/devops-team @projectx/security-team
/.github/workflows/ios.yml @projectx/ios-team @projectx/devops-team @projectx/security-team
/.github/workflows/web.yml @projectx/frontend-team @projectx/devops-team @projectx/security-team
/.github/workflows/backend.yml @projectx/backend-team @projectx/devops-team @projectx/security-team
