Repository Kushmakov/rental-marketplace-iubv3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projectx/core-team, @projectx/frontend-team, @projectx/security-team, @projectx/compliance-team, @projectx/android-team, @projectx/mobile-security, @projectx/ios-team, @projectx/backend-team, @projectx/devops-team, @projectx/documentation-team, @projectx/qa-team, @projectx/data-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/elasticsearch/main.tf
  infrastructure/terraform/modules/elasticsearch/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/elasticsearch/outputs.tf
  infrastructure/terraform/modules/elasticsearch/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/elasticsearch/variables.tf
  infrastructure/terraform/modules/elasticsearch/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @projectx/devops-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/android/.gitignore
  src/android/.gitignore
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/README.md
  src/android/README.md
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/build.gradle.kts
  src/android/build.gradle.kts
Owners: @projectx/android-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/android/gradle.properties
  src/android/gradle.properties
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/gradlew
  src/android/gradlew
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/settings.gradle.kts
  src/android/settings.gradle.kts
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/.gitignore
  src/android/app/.gitignore
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/build.gradle.kts
  src/android/app/build.gradle.kts
Owners: @projectx/android-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/androidTest/java/com/projectx/rental/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/java/com/projectx/rental/ExampleInstrumentedTest.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/debug/AndroidManifest.xml
  src/android/app/src/debug/AndroidManifest.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/java/com/projectx/rental/MainActivity.kt
  src/android/app/src/main/java/com/projectx/rental/MainActivity.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/java/com/projectx/rental/ProjectXApplication.kt
  src/android/app/src/main/java/com/projectx/rental/ProjectXApplication.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/java/com/projectx/rental/data/api/ApiClient.kt
  src/android/app/src/main/java/com/projectx/rental/data/api/ApiClient.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/java/com/projectx/rental/data/api/ApiService.kt
  src/android/app/src/main/java/com/projectx/rental/data/api/ApiService.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/java/com/projectx/rental/data/db/AppDatabase.kt
  src/android/app/src/main/java/com/projectx/rental/data/db/AppDatabase.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/java/com/projectx/rental/data/db/dao/PropertyDao.kt
  src/android/app/src/main/java/com/projectx/rental/data/db/dao/PropertyDao.kt
Owners: @projectx/android-team, @projectx/mobile-security

.github/CODEOWNERS:

# These owners have overall architectural oversight
* @projectx/core-team

# Frontend Web Application
/src/web/ @projectx/frontend-team @projectx/security-team
/src/web/components/auth/ @projectx/security-team @projectx/frontend-team
/src/web/components/payment/ @projectx/security-team @projectx/frontend-team @projectx/compliance-team

# Mobile Applications
/src/android/ @projectx/android-team @projectx/mobile-security
/src/ios/ @projectx/ios-team @projectx/mobile-security

# Backend Services
/src/backend/ @projectx/backend-team @projectx/security-team
/src/backend/packages/auth-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/payment-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/user-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team

# Infrastructure and DevOps
/infrastructure/ @projectx/devops-team @projectx/security-team
/.github/workflows/ @projectx/devops-team @projectx/security-team
/docker-compose.yml @projectx/devops-team @projectx/security-team
/Dockerfile @projectx/devops-team @projectx/security-team

# API Gateway and Service Mesh
/src/backend/packages/api-gateway/ @projectx/backend-team @projectx/security-team

# Documentation
/docs/ @projectx/documentation-team @projectx/core-team
/README.md @projectx/documentation-team @projectx/core-team

# Security Configurations
/security/ @projectx/security-team @projectx/compliance-team
**/*.env.example @projectx/security-team @projectx/devops-team
**/*config*.{js,ts,json} @projectx/security-team @projectx/devops-team

# Test Suites
/src/*/tests/ @projectx/qa-team @projectx/security-team
/src/*/cypress/ @projectx/qa-team @projectx/frontend-team
/src/*/jest/ @projectx/qa-team

# Package Dependencies
package.json @projectx/core-team @projectx/security-team
yarn.lock @projectx/core-team @projectx/security-team
**/package-lock.json @projectx/core-team @projectx/security-team
**/Podfile @projectx/ios-team @projectx/security-team
**/Podfile.lock @projectx/ios-team @projectx/security-team
**/build.gradle* @projectx/android-team @projectx/security-team

# Database Migrations and Schemas
/src/backend/*/migrations/ @projectx/backend-team @projectx/data-team @projectx/security-team
/src/backend/*/schemas/ @projectx/backend-team @projectx/data-team @projectx/security-team

# Monitoring and Observability
/src/backend/packages/monitoring/ @projectx/devops-team @projectx/security-team
/src/backend/packages/logging/ @projectx/devops-team @projectx/security-team

# CI/CD Pipeline Configurations
/.github/workflows/android.yml @projectx/android-team @projectx/devops-team @projectx/security-team
/.github/workflows/ios.yml @projectx/ios-team @projectx/devops-team @projectx/security-team
/.github/workflows/web.yml @projectx/frontend-team @projectx/devops-team @projectx/security-team
/.github/workflows/backend.yml @projectx/backend-team @projectx/devops-team @projectx/security-team
