Repository Kushmakov/rental-marketplace-iubv3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projectx/core-team, @projectx/frontend-team, @projectx/security-team, @projectx/compliance-team, @projectx/android-team, @projectx/mobile-security, @projectx/ios-team, @projectx/backend-team, @projectx/devops-team, @projectx/documentation-team, @projectx/qa-team, @projectx/data-team

.github/CODEOWNERS:

# These owners have overall architectural oversight
* @projectx/core-team

# Frontend Web Application
/src/web/ @projectx/frontend-team @projectx/security-team
/src/web/components/auth/ @projectx/security-team @projectx/frontend-team
/src/web/components/payment/ @projectx/security-team @projectx/frontend-team @projectx/compliance-team

# Mobile Applications
/src/android/ @projectx/android-team @projectx/mobile-security
/src/ios/ @projectx/ios-team @projectx/mobile-security

# Backend Services
/src/backend/ @projectx/backend-team @projectx/security-team
/src/backend/packages/auth-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/payment-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/user-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team

# Infrastructure and DevOps
/infrastructure/ @projectx/devops-team @projectx/security-team
/.github/workflows/ @projectx/devops-team @projectx/security-team
/docker-compose.yml @projectx/devops-team @projectx/security-team
/Dockerfile @projectx/devops-team @projectx/security-team

# API Gateway and Service Mesh
/src/backend/packages/api-gateway/ @projectx/backend-team @projectx/security-team

# Documentation
/docs/ @projectx/documentation-team @projectx/core-team
/README.md @projectx/documentation-team @projectx/core-team

# Security Configurations
/security/ @projectx/security-team @projectx/compliance-team
**/*.env.example @projectx/security-team @projectx/devops-team
**/*config*.{js,ts,json} @projectx/security-team @projectx/devops-team

# Test Suites
/src/*/tests/ @projectx/qa-team @projectx/security-team
/src/*/cypress/ @projectx/qa-team @projectx/frontend-team
/src/*/jest/ @projectx/qa-team

# Package Dependencies
package.json @projectx/core-team @projectx/security-team
yarn.lock @projectx/core-team @projectx/security-team
**/package-lock.json @projectx/core-team @projectx/security-team
**/Podfile @projectx/ios-team @projectx/security-team
**/Podfile.lock @projectx/ios-team @projectx/security-team
**/build.gradle* @projectx/android-team @projectx/security-team

# Database Migrations and Schemas
/src/backend/*/migrations/ @projectx/backend-team @projectx/data-team @projectx/security-team
/src/backend/*/schemas/ @projectx/backend-team @projectx/data-team @projectx/security-team

# Monitoring and Observability
/src/backend/packages/monitoring/ @projectx/devops-team @projectx/security-team
/src/backend/packages/logging/ @projectx/devops-team @projectx/security-team

# CI/CD Pipeline Configurations
/.github/workflows/android.yml @projectx/android-team @projectx/devops-team @projectx/security-team
/.github/workflows/ios.yml @projectx/ios-team @projectx/devops-team @projectx/security-team
/.github/workflows/web.yml @projectx/frontend-team @projectx/devops-team @projectx/security-team
/.github/workflows/backend.yml @projectx/backend-team @projectx/devops-team @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/notification-service-deployment.yaml
  src/backend/k8s/notification-service-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/payment-service-deployment.yaml
  src/backend/k8s/payment-service-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/redis-deployment.yaml
  src/backend/k8s/redis-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/package.json
  src/backend/packages/api-gateway/package.json
Owners: @projectx/core-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/tsconfig.json
  src/backend/packages/api-gateway/tsconfig.json
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/app.ts
  src/backend/packages/api-gateway/src/app.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/server.ts
  src/backend/packages/api-gateway/src/server.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/config/index.ts
  src/backend/packages/api-gateway/src/config/index.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/middleware/auth.middleware.ts
  src/backend/packages/api-gateway/src/middleware/auth.middleware.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/middleware/error.middleware.ts
  src/backend/packages/api-gateway/src/middleware/error.middleware.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/middleware/logging.middleware.ts
  src/backend/packages/api-gateway/src/middleware/logging.middleware.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/packages/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/routes/index.ts
  src/backend/packages/api-gateway/src/routes/index.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/src/types/index.ts
  src/backend/packages/api-gateway/src/types/index.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/api-gateway/test/app.test.ts
  src/backend/packages/api-gateway/test/app.test.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/package.json
  src/backend/packages/application-service/package.json
Owners: @projectx/core-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/tsconfig.json
  src/backend/packages/application-service/tsconfig.json
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/app.ts
  src/backend/packages/application-service/src/app.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/config/index.ts
  src/backend/packages/application-service/src/config/index.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/controllers/application.controller.ts
  src/backend/packages/application-service/src/controllers/application.controller.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/models/application.model.ts
  src/backend/packages/application-service/src/models/application.model.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/repositories/application.repository.ts
  src/backend/packages/application-service/src/repositories/application.repository.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/routes/application.routes.ts
  src/backend/packages/application-service/src/routes/application.routes.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/services/application.service.ts
  src/backend/packages/application-service/src/services/application.service.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/src/services/verification.service.ts
  src/backend/packages/application-service/src/services/verification.service.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/application-service/test/application.test.ts
  src/backend/packages/application-service/test/application.test.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/package.json
  src/backend/packages/auth-service/package.json
Owners: @projectx/core-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/tsconfig.json
  src/backend/packages/auth-service/tsconfig.json
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/app.ts
  src/backend/packages/auth-service/src/app.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/config/index.ts
  src/backend/packages/auth-service/src/config/index.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/controllers/auth.controller.ts
  src/backend/packages/auth-service/src/controllers/auth.controller.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/models/user.model.ts
  src/backend/packages/auth-service/src/models/user.model.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/repositories/user.repository.ts
  src/backend/packages/auth-service/src/repositories/user.repository.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/routes/auth.routes.ts
  src/backend/packages/auth-service/src/routes/auth.routes.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/services/auth.service.ts
  src/backend/packages/auth-service/src/services/auth.service.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/types/index.ts
  src/backend/packages/auth-service/src/types/index.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/utils/jwt.utils.ts
  src/backend/packages/auth-service/src/utils/jwt.utils.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/src/utils/password.utils.ts
  src/backend/packages/auth-service/src/utils/password.utils.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/auth-service/test/auth.test.ts
  src/backend/packages/auth-service/test/auth.test.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team
