Repository Kushmakov/rental-marketplace-iubv3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projectx/core-team, @projectx/frontend-team, @projectx/security-team, @projectx/compliance-team, @projectx/android-team, @projectx/mobile-security, @projectx/ios-team, @projectx/backend-team, @projectx/devops-team, @projectx/documentation-team, @projectx/qa-team, @projectx/data-team

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/activity_main.xml
  src/android/app/src/main/res/layout/activity_main.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/activity_payment.xml
  src/android/app/src/main/res/layout/activity_payment.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/activity_property_detail.xml
  src/android/app/src/main/res/layout/activity_property_detail.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/activity_property_list.xml
  src/android/app/src/main/res/layout/activity_property_list.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/fragment_login.xml
  src/android/app/src/main/res/layout/fragment_login.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/fragment_signup.xml
  src/android/app/src/main/res/layout/fragment_signup.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/layout/item_property.xml
  src/android/app/src/main/res/layout/item_property.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/values/dimens.xml
  src/android/app/src/main/res/values/dimens.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/values/styles.xml
  src/android/app/src/main/res/values/styles.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/release/AndroidManifest.xml
  src/android/app/src/release/AndroidManifest.xml
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/test/java/com/projectx/rental/ExampleUnitTest.kt
  src/android/app/src/test/java/com/projectx/rental/ExampleUnitTest.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/test/java/com/projectx/rental/viewmodel/AuthViewModelTest.kt
  src/android/app/src/test/java/com/projectx/rental/viewmodel/AuthViewModelTest.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/app/src/test/java/com/projectx/rental/viewmodel/PropertyViewModelTest.kt
  src/android/app/src/test/java/com/projectx/rental/viewmodel/PropertyViewModelTest.kt
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/android/gradle/wrapper/gradle-wrapper.properties
  src/android/gradle/wrapper/gradle-wrapper.properties
Owners: @projectx/android-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/.env.example
  src/backend/.env.example
Owners: @projectx/security-team, @projectx/devops-team

Add public-samples/rental-marketplace-iubv3k/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/README.md
  src/backend/README.md
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/lerna.json
  src/backend/lerna.json
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/package.json
  src/backend/package.json
Owners: @projectx/core-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/api-gateway-deployment.yaml
  src/backend/k8s/api-gateway-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/application-service-deployment.yaml
  src/backend/k8s/application-service-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/auth-service-deployment.yaml
  src/backend/k8s/auth-service-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/database-deployment.yaml
  src/backend/k8s/database-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/elasticsearch-deployment.yaml
  src/backend/k8s/elasticsearch-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/k8s/listing-service-deployment.yaml
  src/backend/k8s/listing-service-deployment.yaml
Owners: @projectx/backend-team, @projectx/security-team

.github/CODEOWNERS:

# These owners have overall architectural oversight
* @projectx/core-team

# Frontend Web Application
/src/web/ @projectx/frontend-team @projectx/security-team
/src/web/components/auth/ @projectx/security-team @projectx/frontend-team
/src/web/components/payment/ @projectx/security-team @projectx/frontend-team @projectx/compliance-team

# Mobile Applications
/src/android/ @projectx/android-team @projectx/mobile-security
/src/ios/ @projectx/ios-team @projectx/mobile-security

# Backend Services
/src/backend/ @projectx/backend-team @projectx/security-team
/src/backend/packages/auth-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/payment-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/user-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team

# Infrastructure and DevOps
/infrastructure/ @projectx/devops-team @projectx/security-team
/.github/workflows/ @projectx/devops-team @projectx/security-team
/docker-compose.yml @projectx/devops-team @projectx/security-team
/Dockerfile @projectx/devops-team @projectx/security-team

# API Gateway and Service Mesh
/src/backend/packages/api-gateway/ @projectx/backend-team @projectx/security-team

# Documentation
/docs/ @projectx/documentation-team @projectx/core-team
/README.md @projectx/documentation-team @projectx/core-team

# Security Configurations
/security/ @projectx/security-team @projectx/compliance-team
**/*.env.example @projectx/security-team @projectx/devops-team
**/*config*.{js,ts,json} @projectx/security-team @projectx/devops-team

# Test Suites
/src/*/tests/ @projectx/qa-team @projectx/security-team
/src/*/cypress/ @projectx/qa-team @projectx/frontend-team
/src/*/jest/ @projectx/qa-team

# Package Dependencies
package.json @projectx/core-team @projectx/security-team
yarn.lock @projectx/core-team @projectx/security-team
**/package-lock.json @projectx/core-team @projectx/security-team
**/Podfile @projectx/ios-team @projectx/security-team
**/Podfile.lock @projectx/ios-team @projectx/security-team
**/build.gradle* @projectx/android-team @projectx/security-team

# Database Migrations and Schemas
/src/backend/*/migrations/ @projectx/backend-team @projectx/data-team @projectx/security-team
/src/backend/*/schemas/ @projectx/backend-team @projectx/data-team @projectx/security-team

# Monitoring and Observability
/src/backend/packages/monitoring/ @projectx/devops-team @projectx/security-team
/src/backend/packages/logging/ @projectx/devops-team @projectx/security-team

# CI/CD Pipeline Configurations
/.github/workflows/android.yml @projectx/android-team @projectx/devops-team @projectx/security-team
/.github/workflows/ios.yml @projectx/ios-team @projectx/devops-team @projectx/security-team
/.github/workflows/web.yml @projectx/frontend-team @projectx/devops-team @projectx/security-team
/.github/workflows/backend.yml @projectx/backend-team @projectx/devops-team @projectx/security-team
