Repository Kushmakov/rental-marketplace-iubv3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projectx/core-team, @projectx/frontend-team, @projectx/security-team, @projectx/compliance-team, @projectx/android-team, @projectx/mobile-security, @projectx/ios-team, @projectx/backend-team, @projectx/devops-team, @projectx/documentation-team, @projectx/qa-team, @projectx/data-team

.github/CODEOWNERS:

# These owners have overall architectural oversight
* @projectx/core-team

# Frontend Web Application
/src/web/ @projectx/frontend-team @projectx/security-team
/src/web/components/auth/ @projectx/security-team @projectx/frontend-team
/src/web/components/payment/ @projectx/security-team @projectx/frontend-team @projectx/compliance-team

# Mobile Applications
/src/android/ @projectx/android-team @projectx/mobile-security
/src/ios/ @projectx/ios-team @projectx/mobile-security

# Backend Services
/src/backend/ @projectx/backend-team @projectx/security-team
/src/backend/packages/auth-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/payment-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/user-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team

# Infrastructure and DevOps
/infrastructure/ @projectx/devops-team @projectx/security-team
/.github/workflows/ @projectx/devops-team @projectx/security-team
/docker-compose.yml @projectx/devops-team @projectx/security-team
/Dockerfile @projectx/devops-team @projectx/security-team

# API Gateway and Service Mesh
/src/backend/packages/api-gateway/ @projectx/backend-team @projectx/security-team

# Documentation
/docs/ @projectx/documentation-team @projectx/core-team
/README.md @projectx/documentation-team @projectx/core-team

# Security Configurations
/security/ @projectx/security-team @projectx/compliance-team
**/*.env.example @projectx/security-team @projectx/devops-team
**/*config*.{js,ts,json} @projectx/security-team @projectx/devops-team

# Test Suites
/src/*/tests/ @projectx/qa-team @projectx/security-team
/src/*/cypress/ @projectx/qa-team @projectx/frontend-team
/src/*/jest/ @projectx/qa-team

# Package Dependencies
package.json @projectx/core-team @projectx/security-team
yarn.lock @projectx/core-team @projectx/security-team
**/package-lock.json @projectx/core-team @projectx/security-team
**/Podfile @projectx/ios-team @projectx/security-team
**/Podfile.lock @projectx/ios-team @projectx/security-team
**/build.gradle* @projectx/android-team @projectx/security-team

# Database Migrations and Schemas
/src/backend/*/migrations/ @projectx/backend-team @projectx/data-team @projectx/security-team
/src/backend/*/schemas/ @projectx/backend-team @projectx/data-team @projectx/security-team

# Monitoring and Observability
/src/backend/packages/monitoring/ @projectx/devops-team @projectx/security-team
/src/backend/packages/logging/ @projectx/devops-team @projectx/security-team

# CI/CD Pipeline Configurations
/.github/workflows/android.yml @projectx/android-team @projectx/devops-team @projectx/security-team
/.github/workflows/ios.yml @projectx/ios-team @projectx/devops-team @projectx/security-team
/.github/workflows/web.yml @projectx/frontend-team @projectx/devops-team @projectx/security-team
/.github/workflows/backend.yml @projectx/backend-team @projectx/devops-team @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Resources/Assets.xcassets/Colors.xcassets/Contents.json
  src/ios/ProjectX/Resources/Assets.xcassets/Colors.xcassets/Contents.json
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXTests/ApplicationViewModelTests.swift
  src/ios/ProjectXTests/ApplicationViewModelTests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXTests/AuthViewModelTests.swift
  src/ios/ProjectXTests/AuthViewModelTests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXTests/NetworkTests.swift
  src/ios/ProjectXTests/NetworkTests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXTests/PaymentViewModelTests.swift
  src/ios/ProjectXTests/PaymentViewModelTests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXTests/PropertyViewModelTests.swift
  src/ios/ProjectXTests/PropertyViewModelTests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXTests/RepositoryTests.swift
  src/ios/ProjectXTests/RepositoryTests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXUITests/ApplicationFlowUITests.swift
  src/ios/ProjectXUITests/ApplicationFlowUITests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXUITests/AuthFlowUITests.swift
  src/ios/ProjectXUITests/AuthFlowUITests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectXUITests/PropertyFlowUITests.swift
  src/ios/ProjectXUITests/PropertyFlowUITests.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/web/.env.example
  src/web/.env.example
Owners: @projectx/security-team, @projectx/devops-team

Add public-samples/rental-marketplace-iubv3k/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/.prettierrc
  src/web/.prettierrc
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/README.md
  src/web/README.md
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/next.config.js
  src/web/next.config.js
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/package.json
  src/web/package.json
Owners: @projectx/core-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/e2e/application.cy.ts
  src/web/cypress/e2e/application.cy.ts
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/e2e/auth.cy.ts
  src/web/cypress/e2e/auth.cy.ts
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/e2e/payment.cy.ts
  src/web/cypress/e2e/payment.cy.ts
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/e2e/property.cy.ts
  src/web/cypress/e2e/property.cy.ts
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/fixtures/applications.json
  src/web/cypress/fixtures/applications.json
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/fixtures/payments.json
  src/web/cypress/fixtures/payments.json
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/fixtures/properties.json
  src/web/cypress/fixtures/properties.json
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/cypress/support/commands.ts
  src/web/cypress/support/commands.ts
Owners: @projectx/qa-team, @projectx/frontend-team

Add public-samples/rental-marketplace-iubv3k/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/__tests__/components/application/ApplicationForm.test.tsx
  src/web/src/__tests__/components/application/ApplicationForm.test.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/__tests__/components/auth/LoginForm.test.tsx
  src/web/src/__tests__/components/auth/LoginForm.test.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/__tests__/components/payment/PaymentForm.test.tsx
  src/web/src/__tests__/components/payment/PaymentForm.test.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/__tests__/components/property/PropertyCard.test.tsx
  src/web/src/__tests__/components/property/PropertyCard.test.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/__tests__/hooks/useAuth.test.ts
  src/web/src/__tests__/hooks/useAuth.test.ts
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/__tests__/store/authSlice.test.ts
  src/web/src/__tests__/store/authSlice.test.ts
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/app/error.tsx
  src/web/src/app/error.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/app/layout.tsx
  src/web/src/app/layout.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/app/loading.tsx
  src/web/src/app/loading.tsx
Owners: @projectx/frontend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/web/src/app/not-found.tsx
  src/web/src/app/not-found.tsx
Owners: @projectx/frontend-team, @projectx/security-team
