Repository Kushmakov/rental-marketplace-iubv3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @projectx/core-team, @projectx/frontend-team, @projectx/security-team, @projectx/compliance-team, @projectx/android-team, @projectx/mobile-security, @projectx/ios-team, @projectx/backend-team, @projectx/devops-team, @projectx/documentation-team, @projectx/qa-team, @projectx/data-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/notification-service/test/notification.test.ts
  src/backend/packages/notification-service/test/notification.test.ts
Owners: @projectx/backend-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/package.json
  src/backend/packages/payment-service/package.json
Owners: @projectx/core-team, @projectx/security-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/tsconfig.json
  src/backend/packages/payment-service/tsconfig.json
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/app.ts
  src/backend/packages/payment-service/src/app.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/config/index.ts
  src/backend/packages/payment-service/src/config/index.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/controllers/payment.controller.ts
  src/backend/packages/payment-service/src/controllers/payment.controller.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/models/payment.model.ts
  src/backend/packages/payment-service/src/models/payment.model.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/models/transaction.model.ts
  src/backend/packages/payment-service/src/models/transaction.model.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/repositories/payment.repository.ts
  src/backend/packages/payment-service/src/repositories/payment.repository.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/routes/payment.routes.ts
  src/backend/packages/payment-service/src/routes/payment.routes.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/services/payment.service.ts
  src/backend/packages/payment-service/src/services/payment.service.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/src/services/stripe.service.ts
  src/backend/packages/payment-service/src/services/stripe.service.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/backend/packages/payment-service/test/payment.test.ts
  src/backend/packages/payment-service/test/payment.test.ts
Owners: @projectx/security-team, @projectx/backend-team, @projectx/compliance-team

Add public-samples/rental-marketplace-iubv3k/src/ios/.gitignore
  src/ios/.gitignore
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/Gemfile
  src/ios/Gemfile
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/README.md
  src/ios/README.md
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/swiftlint.yml
  src/ios/swiftlint.yml
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/AppDelegate.swift
  src/ios/ProjectX/AppDelegate.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Info.plist
  src/ios/ProjectX/Info.plist
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/SceneDelegate.swift
  src/ios/ProjectX/SceneDelegate.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Constants.swift
  src/ios/ProjectX/Common/Constants.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Extensions/Date+Extensions.swift
  src/ios/ProjectX/Common/Extensions/Date+Extensions.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Extensions/String+Extensions.swift
  src/ios/ProjectX/Common/Extensions/String+Extensions.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Extensions/UIColor+Extensions.swift
  src/ios/ProjectX/Common/Extensions/UIColor+Extensions.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Extensions/UIView+Extensions.swift
  src/ios/ProjectX/Common/Extensions/UIView+Extensions.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Protocols/Coordinator.swift
  src/ios/ProjectX/Common/Protocols/Coordinator.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Protocols/Storyboarded.swift
  src/ios/ProjectX/Common/Protocols/Storyboarded.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Protocols/ViewModelType.swift
  src/ios/ProjectX/Common/Protocols/ViewModelType.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Utils/BiometricAuthManager.swift
  src/ios/ProjectX/Common/Utils/BiometricAuthManager.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Utils/KeychainManager.swift
  src/ios/ProjectX/Common/Utils/KeychainManager.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Utils/Logger.swift
  src/ios/ProjectX/Common/Utils/Logger.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Common/Utils/NetworkReachability.swift
  src/ios/ProjectX/Common/Utils/NetworkReachability.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/APIClient.swift
  src/ios/ProjectX/Data/Network/APIClient.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/APIEndpoints.swift
  src/ios/ProjectX/Data/Network/APIEndpoints.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/APIError.swift
  src/ios/ProjectX/Data/Network/APIError.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/NetworkInterceptor.swift
  src/ios/ProjectX/Data/Network/NetworkInterceptor.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/Services/ApplicationService.swift
  src/ios/ProjectX/Data/Network/Services/ApplicationService.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/Services/AuthService.swift
  src/ios/ProjectX/Data/Network/Services/AuthService.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/Services/NotificationService.swift
  src/ios/ProjectX/Data/Network/Services/NotificationService.swift
Owners: @projectx/ios-team, @projectx/mobile-security

Add public-samples/rental-marketplace-iubv3k/src/ios/ProjectX/Data/Network/Services/PaymentService.swift
  src/ios/ProjectX/Data/Network/Services/PaymentService.swift
Owners: @projectx/ios-team, @projectx/mobile-security

.github/CODEOWNERS:

# These owners have overall architectural oversight
* @projectx/core-team

# Frontend Web Application
/src/web/ @projectx/frontend-team @projectx/security-team
/src/web/components/auth/ @projectx/security-team @projectx/frontend-team
/src/web/components/payment/ @projectx/security-team @projectx/frontend-team @projectx/compliance-team

# Mobile Applications
/src/android/ @projectx/android-team @projectx/mobile-security
/src/ios/ @projectx/ios-team @projectx/mobile-security

# Backend Services
/src/backend/ @projectx/backend-team @projectx/security-team
/src/backend/packages/auth-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/payment-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team
/src/backend/packages/user-service/ @projectx/security-team @projectx/backend-team @projectx/compliance-team

# Infrastructure and DevOps
/infrastructure/ @projectx/devops-team @projectx/security-team
/.github/workflows/ @projectx/devops-team @projectx/security-team
/docker-compose.yml @projectx/devops-team @projectx/security-team
/Dockerfile @projectx/devops-team @projectx/security-team

# API Gateway and Service Mesh
/src/backend/packages/api-gateway/ @projectx/backend-team @projectx/security-team

# Documentation
/docs/ @projectx/documentation-team @projectx/core-team
/README.md @projectx/documentation-team @projectx/core-team

# Security Configurations
/security/ @projectx/security-team @projectx/compliance-team
**/*.env.example @projectx/security-team @projectx/devops-team
**/*config*.{js,ts,json} @projectx/security-team @projectx/devops-team

# Test Suites
/src/*/tests/ @projectx/qa-team @projectx/security-team
/src/*/cypress/ @projectx/qa-team @projectx/frontend-team
/src/*/jest/ @projectx/qa-team

# Package Dependencies
package.json @projectx/core-team @projectx/security-team
yarn.lock @projectx/core-team @projectx/security-team
**/package-lock.json @projectx/core-team @projectx/security-team
**/Podfile @projectx/ios-team @projectx/security-team
**/Podfile.lock @projectx/ios-team @projectx/security-team
**/build.gradle* @projectx/android-team @projectx/security-team

# Database Migrations and Schemas
/src/backend/*/migrations/ @projectx/backend-team @projectx/data-team @projectx/security-team
/src/backend/*/schemas/ @projectx/backend-team @projectx/data-team @projectx/security-team

# Monitoring and Observability
/src/backend/packages/monitoring/ @projectx/devops-team @projectx/security-team
/src/backend/packages/logging/ @projectx/devops-team @projectx/security-team

# CI/CD Pipeline Configurations
/.github/workflows/android.yml @projectx/android-team @projectx/devops-team @projectx/security-team
/.github/workflows/ios.yml @projectx/ios-team @projectx/devops-team @projectx/security-team
/.github/workflows/web.yml @projectx/frontend-team @projectx/devops-team @projectx/security-team
/.github/workflows/backend.yml @projectx/backend-team @projectx/devops-team @projectx/security-team
